<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ls.application.fund_strategy.mapper.HoldFundsMapper">
    <select id="findAll" resultType="com.ls.application.fund_strategy.model.HoldFunds">
        SELECT * FROM `hold_funds`;
    </select>

    <select id="existsFundByCode" resultType="int" parameterType="string">
        SELECT COUNT(1) FROM `hold_funds` WHERE `fund_code` = #{code}
    </select>

    <select id="getFundsByIds" resultType="com.ls.application.fund_strategy.model.HoldFunds">
        SELECT * FROM `hold_funds` WHERE `fund_id` IN
        <foreach collection="list" item="id" index="index" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </select>

</mapper>